.list-ele {
  border-width: 1px;
  border-color: #b5b7c4;
  border-style: solid;
  border-radius: 12px;
  padding: 12px;
  margin: 9px;
  margin-left: 0px;
}

.title-star-btn-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title-heading {
  color: #171f46;
  font-family: Roboto;
  font-size: 20px;
}

.star-btn {
  background-color: transparent;
  border-width: 0px;
}

.date-para-ele {
  font-size: 14px;
}

@media screen and (min-width: 576px) {
  .list-ele {
    width: 350px;
  }
}
